body{
    font-family: 'Montserrat', sans-serif;
}

.custom-text-2rem{
    font-size: 2rem;
}

.custom-text-1-5rem{
    font-size: 1.5rem;
}

.custom-spacing-menu{
    margin-top: 6rem;
}

#outer{
   height: 100vh;
   display: flex;
}
#frontContainer{
    
}
